.cartCard{
    display: flex!important;
    margin-top: 30px!important;
    border-radius: 10px;
    border: 1px solid lightgrey;
    width: 90%;
    /* justify-content: space-between; */
    margin: auto;
    padding: 40px;
}
.cart-data{
    margin-left: 25%;
}
@media only screen and (max-width: 400px){
    .cartCard{
        flex-direction: column;
    }
    .cart-data{
        margin-left: 0px;
    }
    .remove-btn{
        display: flex;
        margin-left: auto!important;
    }
}