.prod-image{
    min-width: 170px;
    max-width: 170px;
    background-size: cover;
}
*{
    color: black
}
.productsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 30px;
}
a:hover{
    text-decoration: none;
}
img {
    height: 180px;
    display: flex;
    margin: auto;
    margin-bottom: 30px!important;
}
.custom-card:hover{
    box-shadow: 2px 5px 14px rgb(177, 177, 177)!important;
    cursor: pointer;
}
.custom-card{
    min-height: 360px!important;
    max-height: 360px!important;
    background-color: white!important;
    border-radius: 5px;
    width:100%;
    margin-bottom: 20px;
}
.price-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 400px){
    .productsWrapper{
        display: block;
        padding: 0px!important;
    }
    .cart-btn{
        margin-left: auto;
        display: flex;
    }
    .card{
        margin-bottom: 15px;
    }
}
